In [4]:
import sys

In [5]:
!{sys.executable} -m pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/a5/c1/43966a4ce89d0c64111f46c6364ed57d6d87e6fab7d685dca06197a19cf7/pandas-0.23.0-cp35-cp35m-manylinux1_x86_64.whl (11.6MB)
    100% |████████████████████████████████| 11.6MB 118kB/s eta 0:00:01   79% |█████████████████████████▌      | 9.2MB 52.0MB/s eta 0:00:01
Collecting numpy>=1.9.0 (from pandas)
  Downloading https://files.pythonhosted.org/packages/7b/61/11b05cc37ccdaabad89f04dbdc2a02905cf6de6f9b05816dba843beed328/numpy-1.14.3-cp35-cp35m-manylinux1_x86_64.whl (12.1MB)
    100% |████████████████████████████████| 12.1MB 123kB/s eta 0:00:01
Collecting python-dateutil>=2.5.0 (from pandas)
  Downloading https://files.pythonhosted.org/packages/cf/f5/af2b09c957ace60dcfac112b669c45c8c97e32f94aa8b56da4c6d1682825/python_dateutil-2.7.3-py2.py3-none-any.whl (211kB)
    100% |████████████████████████████████| 215kB 3.6MB/s eta 0:00:01
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/dc/83/15f7833b70d3e067ca91467ca245bae0f6fe56ddc7451aa0dc5606b120f2/pytz-2018.4-py2.py3-none-any.whl (510kB)
    100% |████████████████████████████████| 512kB 2.8MB/s eta 0:00:01
Collecting six>=1.5 (from python-dateutil>=2.5.0->pandas)
  Downloading https://files.pythonhosted.org/packages/67/4b/141a581104b1f6397bfa78ac9d43d8ad29a7ca43ea90a2d863fe3056e86a/six-1.11.0-py2.py3-none-any.whl
Installing collected packages: numpy, six, python-dateutil, pytz, pandas
Successfully installed numpy-1.14.3 pandas-0.23.0 python-dateutil-2.7.3 pytz-2018.4 six-1.11.0

In [18]:
!{sys.executable} -m pip install xlrd

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [15]:
!pip install xlrd

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [31]:
import pandas as pd
import numpy as np

cross = pd.read_csv("biomass.csv")
datos = pd.read_csv("datos.csv")

In [32]:
cross.head()

,Unnamed: 0,OBJECTID_1,CNTRY_NAME,CNTRY_CODE,ADM1_NAME,ADM2_NAME,Rowcacode1,Rowcacode2,AREA,MEAN,...,BIO_2008,BIO_2009,BIO_2010,BIO_2011,BIO_2012,BIO_2013,BIO_2014,BIO_2015,BIO_2016,BIO_2017
0,1,1,Mali,MLI,Gao,Ansongo,MLI007,MLI007002,22992,1.175191e+06,...,8.506459e+05,3.583381e+05,2.034363e+06,1.536372e+06,1.703998e+06,2.084880e+06,1.463508e+06,2.139628e+06,1.484075e+06,1.150180e+06
1,2,2,Mali,MLI,Gao,Bourem,MLI007,MLI007003,41955,7.490118e+04,...,2.569605e+04,1.850810e+04,2.950023e+05,7.467885e+04,6.514475e+04,1.153031e+05,8.576938e+04,1.852888e+05,1.060860e+05,9.386115e+04
2,3,3,Mali,MLI,Gao,Gao,MLI007,MLI007001,34696,1.126000e+06,...,6.433713e+05,5.802943e+05,1.892790e+06,1.629305e+06,1.615346e+06,1.239746e+06,1.234729e+06,2.526489e+06,1.505058e+06,1.526658e+06
3,4,4,Mali,MLI,Gao,Menaka,MLI007,MLI007004,76595,1.029450e+06,...,7.831926e+05,2.317341e+05,1.235651e+06,5.861539e+05,1.377138e+06,1.309344e+06,1.366772e+06,2.874220e+06,1.423303e+06,1.932191e+06
4,5,5,Mali,MLI,Kayes,Bafoulabe,MLI001,MLI001002,19438,2.536074e+07,...,3.104588e+07,2.999595e+07,2.825249e+07,2.316074e+07,3.186146e+07,3.050629e+07,2.702217e+07,2.669471e+07,2.624485e+07,2.601741e+07

In [30]:
datos.head()

,Unnamed: 0,id_child,country,iso_country,survey_id,survey_date,survey_cluster,survey_team,survey_admin_1,survey_admin_2,...,AT_who_sam_whz,AT_who_sam_category,AT_who_sam_Y_N,AT_who_sam_muac,AT_who_sam_category_recoded,AT_who_nchs_sam_category,AT_who_gam_whz_cat,AT_who_gam_whz_cat_recoded,CATZOMSTE,CATZOMSPT
0,1,107543.0,DRC,COD,254,2008-01-30,28.0,1.0,Kasai oriental,Zone de santé de Tshumbe,...,0.0,0.0,0.0,0.0,1.0,11.0,0.0,1.0,1,2
1,2,157796.0,kenya,KEN,365,2008-11-23,28.0,4.0,Nairobi,slums of MATHARE AND PART OF KASARANI DIVISIONS,...,0.0,0.0,0.0,0.0,1.0,11.0,0.0,1.0,2,2
2,3,104888.0,DRC,COD,245,2008-11-18,3.0,3.0,Kasai Occidental,Zone de santé de Tshipaka,...,0.0,0.0,0.0,0.0,1.0,11.0,0.0,1.0,2,2
3,4,236579.0,uganda,UGA,568,2008-05-03,27.0,7.0,Northen region,IDP Camps & resettlements areas of Apac and Oy...,...,0.0,0.0,0.0,0.0,1.0,11.0,0.0,1.0,1,2
4,5,79157.0,DRC,COD,235,2006-08-15,30.0,4.0,Province de Katanga,Zones de Santé de Malemba et Lwamba,...,0.0,0.0,0.0,0.0,1.0,11.0,0.0,1.0,1,2

In [73]:
job = datos[["iso_country","survey_admin_1","survey_admin_2"]]

In [37]:
job2 = cross[["CNTRY_CODE","ADM1_NAME","ADM2_NAME"]].

In [77]:
job['iso_country'] = [ x.lower() for x in job["iso_country"]]

job['survey_admin_1'] = [ str(x).lower() for x in job["survey_admin_1"]]

job['survey_admin_2'] = [ str(x).lower() for x in job["survey_admin_2"]]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [79]:
job2['CNTRY_CODE'] = [ x.lower() for x in job2["CNTRY_CODE"]]

job2['ADM1_NAME'] = [ str(x).lower() for x in job2["ADM1_NAME"]]

job2['ADM2_NAME'] = [ str(x).lower() for x in job2["ADM2_NAME"]]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [85]:
job2.head()

  CNTRY_CODE ADM1_NAME  ADM2_NAME
0        mli       gao    ansongo
1        mli       gao     bourem
2        mli       gao        gao
3        mli       gao     menaka
4        mli     kayes  bafoulabe

In [ ]:
for a,i in job2.iterrows(): # bio
    for b,j in job.iterrows(): #datos
        if i["CNTRY_CODE"] == j["iso_country"]:
            if i["ADM1_NAME"] in j["survey_admin_1"]:
                j["survey_admin_1"] = i["ADM1_NAME"]
                if i["ADM2_NAME"] in j["survey_admin_2"]:
                    j["survey_admin_2"] = i["ADM2_NAME"]

In [88]:
for i in job:
    print(i)

iso_country
survey_admin_1
survey_admin_2